@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



:root{
    --body-backgroung: #242329;
    --font-family-title: "Inter", sans-serif;
    --font-weight-title: 700;
}
body{
    background-color: var(--body-backgroung);
    color:#fff;
    width: 100%;
    overflow-x: hidden;
    
}
.testStyle{
    font-family: var(--font-family-title);
    font-size: 50px;
    font-weight: var(--font-weight-title);
    text-transform: uppercase;
}